/* /////////////////   GLOBAL CHANGES  /////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////*/

* {
    font-family: aesthet-nova, serif;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  h1,h2,h4,h5 {
    margin: 0;
    color: #040404;
    font-weight: bold;
  }

  h4 {
      display: inline-block;
      margin-right: 10px;
  }

  h2 {
    font-size: 2.25rem;
  }

  a {
      color: #040404;
  }


 



  /* /////////////////  GLOBAL CONTENT SECTIONS  /////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////*/


  section {
    position: relative;
    margin-top: 30px;
  }


  #marginBottom {
    margin-bottom: 20px;
    justify-self: right;
  }

  #openSans {
    font-family: open-sans, sans-serif;
  }

  .circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color:  #57ba98;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .title {
    position: relative;
    top: 5px;
    left: 25px;
    display: inline-block;
  }





  /* /////////////////  INTRO SECTION  /////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////*/

  #initials {
    font-weight: bold;
    position: relative;
    color: white;
  }

  #initials::before {
    content: '';
    background-color: #57ba98;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: -1;
    bottom: 5px;
  }
  
  .name {
    margin: 20px 0;
  }

  .colorGreen {
    color: #57ba98;
  }
  
  
  .intro {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  
  p {
    margin: 10px 0;
    font-family: open-sans, sans-serif;
    color: #040404;
  }
  
  span {
    font-family: open-sans, sans-serif;
    color: #040404;
    display: block;
  }
  
  .homesection {
    height: 100vh;
  }

  .caption {
    align-self: end;
  }


  .headshot {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: #57ba98;
    align-self: center;
    justify-self: center;
  }

  /* /////////////////  PROJECT SECTION  /////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////*/

  .projectsection {
    height: 1325px;
  }

  .projectcontainer {
    height: 1000px;
    margin: 70px 0 0 0;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .projectbox {
    height: 500px;
    width: 100%;
    border: 3px solid #353535;
    border-radius: 15px;
  }

  #email {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .5em;
  }

  #email img {
    display: block;
    width: 250px;
    height: auto;
    margin: auto;
  }

  #email a {
    position: relative;
    top: 30px;
  }

  .resturant img {
    width: 190px;
    height: 360px;
  }
  
  .resturant a {
    position: relative;    
    top: 30px;
    transition: top .25s ease;
  }


  .sunny-mockup {
    width: 100%;
    display: flex;
    justify-content: center;
  }


  .sunny-mockup:hover > a {
    top: 10px;
  }

  .news-letter:hover > #mock-up , .landing-page:hover > #mock-up , .email-receipt:hover > #mock-up {
    animation-name: lift;
    animation-duration: .3s;
    animation-timing-function: ease;
    top: 10px;
  }

  @keyframes lift {
    0% {
      top: 40px;
    }

    100% {
      top: 10px;
    }
  }

  #email p, .resturant p {
    margin: 0;
    padding: 0 0 0 15px;
  }

  #email h4, .resturant h4 {
    padding: 15px 0 0 15px;
  }

  .news-letter, .landing-page {
    border-bottom: 3px solid #353535;
    height: 100%;
    width: 100%;
  }

  .news-letter, .landing-page, .email-receipt, .resturant {
    overflow-y: hidden;
    cursor: pointer;
  }

  /* /////////////////  SKILL SECTION  /////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////*/

  .skillsection {
    height: 1465px;
  }

  .skillsection img {
    width: 60px;
  }

  .skillcontainer {
    margin-top: 60px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }

  .skillWrapper {
    margin-bottom: 30px;
  }

  #grid {
    display: grid;
    grid-gap: 1em;
    /* grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); */
    grid-template-columns: 1fr;
  }

  .languages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    justify-items: center; 
  }

  .tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;  
    justify-items: center;  
  }


  #node {
    height: 50px;
    width: auto;
  }

  /* /////////////////  ABOUT SECTION  /////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////*/

  .aboutsection {
    height: 575px;
  }

  .aboutWrapper {
    max-width: 738px;
    position: relative;
    margin-top: 60px;
    display: grid;
    grid-gap: .5em;
  }

    /* /////////////////  CONTACT SECTION  /////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////*/

  .contactsection {
    height: 500px;
  }

  .contactWrapper {
    max-width: 738px;
    position: relative;
    margin-top: 60px;
    display: grid;
    grid-gap: .5em;
  }

  .contactsection hr {
    background-color: #040404;
    margin: 100px 0 50px 0;
  }
  
  button {
    justify-self: start;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    letter-spacing: .125em;
    margin-top: 10px;
    outline: none;
  }

  button:hover {
    background-color:  #57ba98;
    border: none;
    color: #f7f7f7;
  }

  
  
  
  /* /////////////////  MEDIA QUERIES  /////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////*/ 
  
  @media (min-width: 768px) {

      h1 {
      font-size: 3em;
    }

    .intro {
      grid-template-columns: 1fr .5fr;
      grid-gap: 1em
    }
      
    #marginTop {
      margin-top: 60px;
    }
  
    .caption {
      align-self: center;
      max-width: 460px;
    }

    .caption h1 {
      font-size: 5vh;
    }

    .caption p, span {
      font-size: 1.25em;
    }

    .headshot {
      width: 250px;
      height: 250px;
    }

    nav span {
      display: inline;
    }

    .projectsection {
      height: 840px;
    }
  
    .projectcontainer {
      height: 600px;
      margin: 70px 0 0 0;
      display: grid;
      grid-gap: 1em;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
  
    .projectbox {
      height: 600px;
      width: 100%;
      border: 3px solid #353535;
      border-radius: 15px;
    }

    #email {
      height: 600px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 0;
    }
  
    #email p {
      margin: 0;
      padding: 0 0 0 15px;
    }
  
    #email h4 {
      padding: 15px 0 0 15px;
    }

    .resturant img {
      width: 230px;
      height: auto;
    }
  
    .news-letter, .landing-page {
      border-bottom: 3px solid #353535;
      height: 100%;
      width: 100%;
    }
  
    .news-letter, .landing-page, .email-receipt {
      overflow-y: hidden;
    }


    .skillsection {
      height: 925px;
    }

    .aboutsection {
      height: 500px;
    }

      
    .contactsection {
      height: 500px;
    }

    .contactsection hr {
      background-color: #040404;
      margin: 150px 0 50px 0;
    }
  }

    /* /////////////////  LARGE  /////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////*/

  @media (min-width: 992px) {

    .caption {
      max-width: 700px;
    }

    .headshot {
      justify-self: end;
      width: 275px;
      height: 275px;
    }

    .projectsection {
      height: 880px;
    }

    .news-letter:hover, .landing-page:hover, .email-receipt:hover, .resturant:hover {
      background-color: rgba(216, 231, 226, 0.2);
    }

    .skillsection {
      height: 870px;
    }

    .aboutsection {
      height: 550px;
    }

    .contactWrapper {
      max-width: 538px;
    position: relative;
    margin: 60px auto 10px;
    display: grid;
    text-align: center;
    grid-gap: .5em;
    }
  }

    /* /////////////////  EXTRA-LARGE /////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////*/
  
  @media (min-width: 1200px) {

    .intro {
      grid-template-columns: 1fr .5fr;
      grid-gap: 0;
    }

    .caption h1 {
      font-size: 7vh;
    }

    .caption p, span {
      font-size: 1.5em;
    }

    .headshot {
      justify-self: end;
      width: 300px;
      height: 300px;
    }

    .skillsection {
      height: 750px;
    }

  }